<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Agregar Producto</title>
    </head>
    <body class = "form">
        <div class="formulario-agregar-producto">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Agregar producto</h1>
            <form action="/products/agregar-producto" method="POST" enctype="multipart/form-data">
                <input type="text" name="descripcion" placeholder="Descripcion"><br>
                <input type="text" name="descripcion_completa" placeholder="Descripcion completa"><br>
                <input type="number" name="marca_id" placeholder="identificador de marca"><br>
                <label for=""> Categoria</label>
                <select name= "categoria">
                    <% for (let i = 0; i < categoria.length; i++) { %>
                        <option value= "<%= categoria[i].id %>">
                            <%= categoria[i].categoria %>
                        </option>
                    <% } %>
                </select><br>            
                <input type="number" name="subcategoria_id" placeholder="identificador de sub-categoria"><br>
                <input type="text" name="precio" placeholder="precio"><br>
                <input type="text" name="presentacion" placeholder="presentacion"><br>
                <label for=""> Unidad</label>
                <select name= "unidad">
                    <% for (let i = 0; i < unidad.length; i++) { %>
                        <option value= "<%= unidad[i].id %>">
                            <%= unidad[i].medida %>
                        </option>
                    <% } %>
                </select><br>
                <input type="file" required id="imagen_producto" name="imagen_producto">
                        <label for="imagen_producto">Seleccionar archivo de imagen</label>
                <p class="texto-nota">* Todos los campos son requeridos</p>
                <button type="submit">Crear Producto</button>
            </form>
        </div>
    </body>
</html>