<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Almacen</title>
</head>

<div class="container">
    
    <%- include('../partials/header')%>

<body>
    
        <main class="body_detalle">
            <div class="aside">
                <form style="display: flex; flex-direction: column;">
                    <a class="categoria" href="/products/almacen/almacen">-Almacén<br>
                        <a class="subcategoria" href="/products/almacen/almacen/arrozYFideos">-Arroz y fideos</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/conservas">-Conservas</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/infusionesCacao">-Infusiones, cacao</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/sopasCaldosPure">-Sopas, caldos, puré</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/mermeladasYDulces">-Mermeladas y dulces</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/premezclaPostres">-Premezcla postres</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/panaderiaGalletitas">-Panaderia, galletitas</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/harinas">-Harinas</a></a><br>
                        <a class="subcategoria" href="/products/almacen/almacen/aceitesYAderezos">-Aceites y aderezos</a></a><br>
                    <a class="categoria" href="/products/almacen/lacteos">-Lacteos<br>
                        <a class="subcategoria" href="/products/almacen/lacteos/dulceDeLeche">-Dulce de leche</a></a><br>
                        <a class="subcategoria" href="/products/almacen/lacteos/lecheLargaVida">-Leche larga vida</a></a><br>
                        <a class="subcategoria" href="/products/almacen/lacteos/lecheEnPolvo">-Leche en polvo</a></a><br>
                    <a class="categoria" href="/products/almacen/perfumeria">-Perfumería<br>
                    <a class="categoria" href="/products/almacen/bebidas">-Bebidas<br>
                        <a class="subcategoria" href="/products/almacen/bebidas/aguaMineral">-Agua mineral</a></a><br>
                        <a class="subcategoria" href="/products/almacen/bebidas/gaseosas">-Gaseosas</a></a><br>
                    <a class="categoria" href="/products/almacen/limpieza">-Limpieza<br>
                        <a class="subcategoria" href="/products/almacen/limpieza/piso">-Piso</a></a><br>
                        <a class="subcategoria" href="/products/almacen/limpieza/banio">-Baño</a></a><br>
                        <a class="subcategoria" href="/products/almacen/limpieza/cocina">-Cocina</a></a><br>
                        <a class="subcategoria" href="/products/almacen/limpieza/papeles">-Papeles</a></a><br>
                    <a class="categoria" href="/products/almacen/bebes">-Bebés<br>
                        <a class="subcategoria" href="/products/almacen/bebes/paniales">-Pañales</a></a><br>
                        <a class="subcategoria" href="/products/almacen/bebes/oleoCalcareo">-Oleo calcareo</a></a><br>
                    
                </form>
            </div>
            <div class="grilla_almacen">
                <% products.forEach(function(product) { %>
                <div class="producto_almacen">
                    
                    <div class="fotoeInfo_almacen">
                        <a class="linkProducto" href="/products/detalleProducto/<%=product.id %>">
                        <img class="moldefoto" src="/images/products/<%= product.imagen %>" alt="FOTO">
                    <div class="infoProd_almacen">
                        <h1 class="nombreProd_almacen"><%= product.descripcion_completa %></h1>
                        <p class="detalle_producto_almacen"><%= product.marca.marca %></p>
                        <p class="detalle_presentacion_producto_almacen"><%= product.presentacion %><%= product.unidad.medida %></p>
                        <h4 class="precioProd_almacen">$<%= product.precio %></h4>
                        </a>
                    </div>
                    </div>
                    <div class="precioyboton_infoProd_almacen">
                        
                        <form action="/users/addToCart" method="POST">
                            <input type="hidden" id="quantity" name="quantity" value="1">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <input type="hidden" name="precio" value="<%= product.precio %>">
                            <input type="submit" class="botonAgregar_almacen" value="Agregar">
                        </form>
                    </div>
                </div>
                <% }) %>
            </div>
        </main>    
        
        <%- include('../partials/footer') %>

    
</body>

</html>
