<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Almacen</title>
</head>

<div class="container">
    
    <%- include('../partials/header')%>

<body>
    
        <main class="body_detalle">

            <%- include('../partials/aside')%>
            
            <div class="grilla_almacen">
                <% for (let i = 0 ; i < products.length ; i++) { %>
                <div class="producto_almacen">
                    
                    <div class="fotoeInfo_almacen">
                        <a class="linkProducto" href="/products/detalleProducto/<%=products[i].id %>">
                        <img class="moldefoto" src="/images/products/<%= products[i].imagen %>" alt="FOTO">
                    <div class="infoProd_almacen">
                        <h1 class="nombreProd_almacen"><%= products[i].descripcion_completa %></h1>
                        <p class="detalle_producto_almacen"><%= products[i].marca.marca %></p>
                        <p class="detalle_presentacion_producto_almacen"><%= products[i].presentacion %><%= products[i].unidad.medida %></p>
                        <h4 class="precioProd_almacen">$<%= products[i].precio %></h4>
                        </a>
                    </div>
                    </div>
                    <div class="precioyboton_infoProd_almacen">
                        
                        <form action="/users/addToCart" method="POST">
                            <input type="hidden" id="quantity" name="quantity" value="1">
                            <input type="hidden" name="productId" value="<%= products[i].id %>">
                            <input type="hidden" name="precio" value="<%= products[i].precio %>">
                            <input type="submit" class="botonAgregar_almacen" value="Agregar">
                        </form>
                    </div>
                </div>
                <% } %>
            
                
            </div>
        </main>    
        
        <%- include('../partials/footer') %>

    
</body>

</html>
