<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Almacen</title>
</head>

<div class="container">
    
    <%- include('../partials/header')%>

<body>
    
        <main class="body_detalle">
            <div class="aside">
                <form style="display: flex; flex-direction: column;">
                    <a class="categoria" href="/imgs/imagen.jpg">-Almacén<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Arroz y fideos</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Conservas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Infusiones, cacao</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Sopas, caldos, puré</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Mermeladas y dulces</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Premezcla postres</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Panaderia, galletitas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Harinas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Aceites y aderezos</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Lacteos<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Dulce de leche</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche larga vida</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche en polvo</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Perfumería<br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebidas<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Agua mineral</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Gaseosas</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Limpieza<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Piso</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Baño</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Cocina</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Papeles</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebés<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Pañales</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Oleo calcareo</a></a><br>
                    
                </form>
            </div>
            <div class="grilla_almacen">
                <% products.forEach(function(product) { %>
                <div class="producto_almacen">
                    
                    <div class="fotoeInfo_almacen">
                        <a class="linkProducto" href="/products/detalleProducto/<%=product.id %>">
                        <img class="moldefoto" src="/images/products/<%= product.imagen %>" alt="FOTO">
                    <div class="infoProd_almacen">
                        <h1 class="nombreProd_almacen"><%= product.descripcion_completa %></h1>
                        <p class="detalle_producto_almacen"><%= product.marca.marca %></p>
                        <p class="detalle_presentacion_producto_almacen"><%= product.presentacion %><%= product.unidad.medida %></p>
                        <h4 class="precioProd_almacen">$<%= product.precio %></h4>
                        </a>
                    </div>
                    </div>
                    <div class="precioyboton_infoProd_almacen">
                        
                        <form action="/users/addToCart" method="POST">
                            <input type="hidden" id="quantity" name="quantity" value="1">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <input type="hidden" name="precio" value="<%= product.precio %>">
                            <input type="submit" class="botonAgregar_almacen" value="Agregar">
                        </form>
                    </div>
                </div>
                <% }) %>
            </div>
        </main>    
        
        <%- include('../partials/footer') %>

    
</body>

</html>
