<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Listado de Productos</title>
</head>
<body class="admin">

    <%- include('../partials/headerAdmin')%>

    <main class= "productsList">
        <h1 class ="h1Pl">Listado de productos</h1>
        <ol class="olProductList">
            <% for (let i = 0; i < productos.length; i++) { %>
                <li class="liProductList">
                    <div class="productDetailL">
                        <a href="detalleProducto/<%=productos[i].id%>"><%=productos[i].descripcion%></a>
                        <p><%=productos[i].marca.marca%></p>
                        <p><%= productos[i].descripcion_completa%></p>
                        <p><%=productos[i].categoria.categoria%></p>                   
                        <p>$<%=productos[i].precio%></p>
                    </div>
                    <div class="buttonList">
                        <form action="/products/destroy/<%=productos[i].id%>" method="POST">
                            <button type="submit" class="buttonPL">Borrar</button>
                        </form>
                        <form action="/products/editar-producto/<%=productos[i].id%>" method="GET">
                            <button type="submit" class="buttonPL">Editar</button>
                        </form>
                    </div>


                </li>
            <% } %>
        </ol>
    </main>
</body>
</html>