<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>
<body>
    <head>
        
    </head>
    <main>
        <h1>Listado de productos</h1>
        <ol>
            <% for (let i = 0; i < productos.length; i++) { %>
                <li>
                    <a href="detalleProducto/<%=productos[i].id%>"><%=productos[i].descripcion%></a>
                    <br>
                    <%=productos[i].marca.marca%>
                    <br>
                    <%= productos[i].descripcion_completa%>
                    <br>
                    <%=productos[i].categoria.categoria%>
                    <br>                    
                    $<%=productos[i].precio%>
                    <form action="/products/destroy/<%=productos[i].id%>" method="POST">
                        <button type="submit">Borrar</button>
                    </form>

                </li>
            <% } %>
        </ol>
    </main>
</body>
</html>