<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Editar Producto</title>
    </head>
    <body class = "form">

        <%- include('../partials/headerAdmin')%>

        <div class="formulario-agregar-producto">
            
            <h1>Editar producto</h1>
            <form action="/products/editar-producto/<%= producto.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" required name="descripcion" value="<%= producto.descripcion %>" ><br>
                <input type="text" required name="descripcion_completa" value="<%= producto.descripcion_completa %>" ><br>
                
                <div class="listadoMarcas">
                    <label for="">Seleccionar marca</label>
                        <select name="marca" id="select-marca" required>
                            <% for (let i = 0; i < marcas.length; i++) { %>
                                <% if (marcas[i].id == producto.marca_id) { %>
                                    <option value="<%= marcas[i].id %>" selected>
                                        <%=marcas[i].marca%>
                                    </option>
                                <% } else { %>
                                    <option value="<%= marcas[i].id %>">
                                        <%=marcas[i].marca%>
                                    </option>
                                <% } %>
        
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva marca</a>
                </div>
                
                <div class="agregar-info1-producto">
                    <input class="presentacion" type="text" required name="presentacion" value="<%=producto.presentacion%>">
                    <div class="unidad-medida">
                        <label for="">Unidad de medida</label>
                            <select name="medida" id="select-medida" required>
                                <% for (let i = 0; i < unidades.length; i++) { %>
                                    <% if (unidades[i].id == producto.unidad_id) { %>
                                        <option value="<%= unidades[i].id %>" selected>
                                            <%=unidades[i].medida%>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= unidades[i].id %>">
                                            <%=unidades[i].medida%>
                                        </option>
                                    <% } %>
            
                                <% } %>
                            </select>
                            <a href="/products/agregarmarca" class="linkNewBrand">Nueva medida</a>
                    </div>
                </div>
                <div>
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar categoria</label>
                        <select name="categoria" id="select-categoria" required>
                            <% for (let i = 0; i < categorias.length; i++) { %>
                                <% if (categorias[i].id == producto.categoria_id) { %>
                                    <option value="<%= categorias[i].id %>" selected>
                                        <%=categorias[i].categoria%>
                                    </option>
                                <% } else { %>
                                    <option value="<%= categorias[i].id %>">
                                        <%=categorias[i].categoria%>
                                    </option>
                                <% } %>
        
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva categoria</a>
                    </div>
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar Sub categoria</label>
                        <select name="subCategoria" id="select-subcategoria" required>
                            <% for (let i = 0; i < subcategorias.length; i++) { %>
                                <% if (subcategorias[i].id == producto.sub_categoria_id) { %>
                                    <option value="<%= categorias[i].id %>" selected>
                                        <%=subcategorias[i].sub_categoria%>
                                    </option>
                                <% } else { %>
                                    <option value="<%= categorias[i].id %>">
                                        <%=subcategorias[i].sub_categoria%>
                                    </option>
                                <% } %>
        
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva sub-categoria</a>
                    </div>
                </div>
                <div class="agregar-info2-producto">
                    <div>
                    <label> $</label>
                    <input type="text" required name="precio" value="<%= producto.precio %>">
                    </div>
                    <div class="input-file">
                        <input type="file" id="imagen_producto" name="imagen_producto">
                        <label for="imagen_producto">Seleccionar archivo de imagen</label>
                        <span id="file-name">"<%= producto.imagen %>"</span>
                        <script>
                            let inputFile = document.getElementById('imagen_producto');
                            let fileNameField = document.getElementById('file-name');
                            inputFile.addEventListener('change', function(event) {
                                let uploadedFilename = event.target.files[0].name;
                                fileNameField.textContent = uploadedFilename;
                            })
                        </script>
                    </div><br>
                </div><br>
                <p class="texto-nota">* Todos los campos son requeridos</p>
                <button type="submit">Editar Producto</button>
            </form>
        </div>
    </body>
</html>