<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Editar Producto</title>
    </head>
    <body class = "form">
        <div class="formulario-agregar-producto">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Editar producto</h1>
            <form action="/products/editar-producto/<%= productFound.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" required name="item" value="<%= productFound.item %>" placeholder="Item"><br>
                <input type="text" required name="marca" value="<%= productFound.marca %>" placeholder="Marca"><br>
                <div class="agregar-info1-producto">
                    <input class="presentacion" type="text" required name="presentacion" value="<%= productFound.presentacion %>" placeholder="Presentacion">
                    <div class="unidad-medida">
                        <label for="">Unidad de medida</label>
                        <select name="medida" id="select-medida" required>
                            <option value="cc" <%= productFound.medida === 'cc' ? 'selected' : ''%> >cc</option>
                            <option value="lt" <%= productFound.medida === 'lt' ? 'selected' : ''%> >lt</option>
                            <option value="ml" <%= productFound.medida === 'ml' ? 'selected' : ''%> >ml</option>
                            <option value="gr" <%= productFound.medida === 'gr' ? 'selected' : ''%> >gr</option>
                            <option value="kg" <%= productFound.medida === 'kg' ? 'selected' : ''%> >kg</option>
                            <option value="un" <%= productFound.medida === 'un' ? 'selected' : ''%> >un</option>
                        </select></p><br>
                    </div>
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar categoria</label>
                        <select name="categoria" id="select-categoria" required>
                            <option value="almacen" <%= productFound.categoria === 'almacen' ? 'selected' : ''%> >Almacen</option>
                            <option value="bebes" <%= productFound.categoria === 'bebes' ? 'selected' : ''%> >Bebes</option>
                            <option value="bebidas" <%= productFound.categoria === 'bebidas' ? 'selected' : ''%> >Bebidas</option>
                            <option value="lacteos" <%= productFound.categoria === 'lacteos' ? 'selected' : ''%> >Lacteos</option>
                            <option value="limpieza" <%= productFound.categoria === 'limpieza' ? 'selected' : ''%> >Limpieza</option>
                            <option value="perfumeria" <%= productFound.categoria === 'perfumeria' ? 'selected' : ''%> >Perfumeria</option>
                            <option value="nueva-categoria" <%= productFound.categoria === 'nueva-categoria' ? 'selected' : ''%> >Nueva categoria</option>
                        </select><br>
                    </div>
                </div>
                <div class="agregar-info2-producto">
                    <label> $</label>
                    <input type="text" required name="precio" value="<%= productFound.precio %>" placeholder="Precio"><br><br>
                    <div class="input-file">
                        <input type="file" required id="imagen_producto" name="imagen_producto">
                        <label for="imagen_producto">Seleccionar archivo de imagen</label>
                        <span id="file-name"><%= productFound.imagen_producto %></span>
                        <script>
                            let inputFile = document.getElementById('imagen_producto');
                            let fileNameField = document.getElementById('file-name');
                            inputFile.addEventListener('change', function(event) {
                                let uploadedFilename = event.target.files[0].name;
                                fileNameField.textContent = uploadedFilename;
                            })
                        </script>
                    </div><br>
                </div><br>
                <p class="texto-nota">* Todos los campos son requeridos</p>
                <button type="submit">Editar Producto</button>
            </form>
        </div>
    </body>
</html>