<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Agregar Producto</title>
    </head>
    <body class = "form">

        <%- include('../partials/headerAdmin')%>

        <div class="formulario-agregar-producto">
            <h1>Agregar producto</h1>
            <form action="/products/agregar-producto" method="POST" enctype="multipart/form-data">
                <input type="text" required name="descripcion" placeholder="Descripcion"><br>
                <input type="text" required name="descripcion_completa" placeholder="Descripcion Completa"><br>
                <div class="listadoMarcas">   
                    <label for="">Seleccionar marca</label>
                    <select name="marca" id="select-marca" required>
                        <% for (let i = 0; i < marca.length; i++) {%>
                            <option value="<%= marca[i].id %>">
                                <%= marca[i].marca %>
                            </option>
                        <% } %>
                    </select>
                    <a href="/products/agregarmarca" class="linkNewBrand">Nueva marca</a>
                </div>
                <div class="agregar-info1-producto">
                    <input class="presentacion" type="text" required name="presentacion" placeholder="Presentacion">
                    <div class="unidad-medida">
                        <label for="">Unidad de medida</label>
                        <select name="medida" id="select-medida">
                            <% for (let i = 0; i < unidad.length; i++) {%>
                                <option value="<%=unidad[i].id %>">
                                    <%=unidad[i].medida %>
                                </option>
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva medida</a>
                    </div>
                </div>
                <div class="agregar-info3-producto">
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar categoria</label>
                        <select name="categoria" id="select-categoria" required>
                            <% for (let i = 0; i < categoria.length; i++) {%>
                                <option value="<%= categoria[i].id %>">
                                    <%= categoria[i].categoria %>
                                </option>
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva categoria</a>
                    </div>
                    <div class="etiqueta-categoria">   
                        <label for="">Seleccionar Sub categoria</label>
                        <select name="subCategoria" id="select-subcategoria" required>
                            <% for (let i = 0; i < subcategoria.length; i++) {%>
                                <option value="<%= subcategoria[i].id %>">
                                    <%= subcategoria[i].sub_categoria %>
                                </option>
                            <% } %>
                        </select>
                        <a href="/products/agregarmarca" class="linkNewBrand">Nueva sub-categoria</a>
                    </div>
                </div>
                    
                <div class="agregar-info2-producto">
                    <div>
                        <label> $</label>
                        <input type="text" required name="precio" placeholder="Precio">
                    </div>
                    <div class="input-file">
                        <input type="file" id="imagen_producto" name="imagen_producto">
                        <label for="imagen_producto">Seleccionar archivo de imagen</label>
                        <span id="file-name">Nombre del archivo</span>
                        <script>
                            let inputFile = document.getElementById('imagen_producto');
                            let fileNameField = document.getElementById('file-name');
                            inputFile.addEventListener('change', function(event) {
                                let uploadedFilename = event.target.files[0].name;
                                fileNameField.textContent = uploadedFilename;
                            })
                        </script>
                    </div><br>
                </div><br>
                <p class="texto-nota">* Todos los campos son requeridos</p>
                <button type="submit">Crear Producto</button>
            </form>
        </div>
    </body>
</html>