<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Detalle del producto</title>
</head>
<div class="container">
    <%- include('../partials/header')%>

<body>
    
        <main class="body_detalle">
            <div class="aside">
                <form style="display: flex; flex-direction: column;">
                    <a class="categoria" href="/imgs/imagen.jpg">-Almacén<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Arroz y fideos</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Conservas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Infusiones, cacao</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Sopas, caldos, puré</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Mermeladas y dulces</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Premezcla postres</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Panaderia, galletitas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Harinas</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Aceites y aderezos</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Lacteos<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Dulce de leche</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche larga vida</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Leche en polvo</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Perfumería<br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebidas<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Agua mineral</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Gaseosas</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Limpieza<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Piso</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Baño</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Cocina</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Papeles</a></a><br>
                    <a class="categoria" href="/imgs/imagen.jpg">-Bebés<br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Pañales</a></a><br>
                        <a class="subcategoria" href="/imgs/imagen.jpg">-Oleo calcareo</a></a><br>
                    
                </form>

            </div>
            <div class="detalle_producto">
                <div class="containerProd">
                    <div class="moldeFotoDetalle">
                        <img src="/imgs/imagen.jpg" alt="Foto Producto">
                    </div>
                    <div class="detallesProd">
                        <h1 class="nombreProd"><%=producto.descripcion%></h1>
                        <p class="infoProd"><%=producto.descripcion_completa%></p>
                    </div>
                    <div class="agregarYpagar">
                        <h2 class="precio">Precio: <%=producto.precio%>$</h2>
                        <input type="button" class="botonAgregar" value="AGREGAR">
                    </div>
                </div>
            </div>
        </main>    
            
        <%- include('../partials/footer') %>
    
</body>
</html>