<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>
<body>
    <a href="agregar-producto">Agregar</a>
    <ol>
        <% products.forEach(function(producto) { %>
            <li>
                <%= producto.item %>
                <%= producto.marca %>
                <%= producto.presentacion %>
                <%= producto.medida %>
                <%= producto.categoria %>
                $<%= producto.precio %>
                <a href="/products/editar-producto/<%= producto.id %>">Editar</a> - <a href="#">Borrar</a>
            </li>
        <% }); %>
    </ol>
</body>
</html>