<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Home</title>
</head>
<body>

    <%- include('../partials/header')%>

    <main class="home">
        <section class="imagenPortada">
            <img src="/img/Portada.jpg" alt="">
            
            
            <!--
            <div class="flotante">
                <a href="#">Donar<i class="far fa-heart"></i></a>

            </div>
            -->
            
        </section>

        <section class="proceso">
            <div class = 'etapa1'>
                <i class="fas fa-cart-arrow-down"></i>
                <h3>Seleccionas los productos</h3>
            </div>
            <div class = 'etapa2'>
                <i class="fas fa-hotel"></i>
                <h3>Elegis la institucion</h3>
            </div>
            <div class = 'etapa3'>
                <i class="fas fa-truck-moving"></i>
                <h3>Los entregamos</h3>
            </div>
            <div class = 'etapa4'>
                <i class="fas fa-child"></i>
                <h3>Ayudas</h3>
            </div>
        </section>

        <section class="imagenAlimentos">
            <img src="/img/Alimentos1.jpg" alt="">
        </section>

        <section class="contadores">
            <div>
                <h3><%= ventas %></h3>
                <h3>Donaciones</h3>
            </div>

            <div>
                <h3><%= cantidadProductosVendidos %></h3>
                <h3>Productos</h3>
            </div>

            <div>
                <h3><%= personasAlcanzadas %></h3>
                <h3>Personas alcanzadas</h3>
            </div>
        </section>

    </main>

    <%- include('../partials/footer') %>
    <script src = "/js/home.js"></script>
</body>
</html>