<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')%>
        <title>Editar perfil</title>
    </head>
    <body class = "form">
        <div class="formulario">
            <a href="/home"><img src="/img/Logo.png" class="avatar" alt="imagen logo"></a>
            <h1>Editar datos</h1>
            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; text-align: left; margin-bottom: 3px">Error!</p>
                <ul style="font-size: 13px">
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <li>
                            <%= errors[i].msg %>
                        </li>
                    <% } %>
                </ul>
            <% } %>
            <form action="/users/modificar-perfil/<%= user.id %>" method="POST">
                
                <br><label><%= user.email %></label><br>
                <input type="text" name="name" value="<%= user.nombre %>" placeholder="Nombre"><br>
                <input type="password" name="currentContrasenia" placeholder="Contraseña actual"><br>
                <input type="password" name="password" placeholder="Nueva contraseña"><br>
                <input type="password" name="confContrasenia" placeholder="Confirmar nueva contraseña"><br>
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </body>
</html>