<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <title>Historial de compras</title>
</head>
<body>
    <%- include('../partials/header')%>
    <div class="historial"> 
            <h1>Historial de compras</h1><br>
            Usuario: <%= usuarioLogueado.nombre %><br><br>
            <% if (carts.length == 0) { %> Aún no tenes compras realizadas <% } else { %> 
            <% for (let i = 0; i < carts.length; i++) { %>
                <p><a href="/users/buy-detail/<%= carts[i].id %>">Orden de compra nro: <%= carts[i].id %></a></p>
                <p>Fecha: <%= carts[i].updated_at.toDateString() %></p>
                <p>Importe $<%= carts[i].total %></p><br>
                Detalle:
                <ul>
                    <% for (let j = 0; j < items[i].length; j++) { %>
                        <li><%= items[i][j].productos.descripcion %> - <%= items[i][j].productos.marca.marca %> x <%= items[i][j].productos.presentacion %> <%= items[i][j].productos.unidad.medida %> x <%= items[i][j].cantidad %> = $ <%= (items[i][j].productos.precio * items[i][j].cantidad) %></li>
                    <% } %>
                </ul>
                <br>
            <% } %>
            <% } %>
    </div>
    <!-- footer -->
   
   <!-- /footer -->
</body>
</html>